@media only screen and (max-width:3000px){

    .teamText
    {
        font-size: 16pt;
    }

}
@media only screen and (max-width:1920px){

    .teamText
    {
        font-size: 13.5pt;
    }

}
@media only screen and (max-width:1024px){

    body
    {
        padding-right: 2px;
    }
    footer
    {
        padding-right: 2px;
    }
    nav
    {
        float:none;
        width:auto;
        padding-left:2em;
    }
    nav a
    {
        padding:0.2em;
        width:45%;
        float:left;
        margin-left:0.3em;
    }
    main
    {
        margin:0;
        font-size:80%;
    }

    h2
    {
        text-align: center;
    }
    .leftContent
    {
        height: 200px;
    }
    .leftContent h2
    {
        font-size: 14pt;
    }

    .leftContent .teamText
    {
        line-height: 35px;
    }
    .leftContent #staff1
    {
        margin-right: 10px;
    }
    .leftContent #staff2
    {
        margin-right: 10px;
    }
    .leftContent #staff3
    {
        margin-right: 10px;
    }
    .teamText
    {
        font-size: 10pt;
    }

    main ul{
        margin-left:2em
    }
    footer > #columnA
    {
        font-size:70%;
    }
    footer > #columnB
    {
        font-size:70%;

    }
    footer > #columnC
    {
        display: none;
    }

}
@media only all and (max-width:768px){
    h1
    {
        font-size:2em;
        padding-left:1.5em;
        width:85%;
        text-align:center;
    }
    nav a
    {
        padding:0.5em;
        width:45%;
        float:left;
        min-width:1em;
        margin-left:0.5em;
    }
    .sticky
    {
        position: fixed;
        top: 0;
        width: 95%;
    }

    main
    {
        padding:0;
    }
    footer
    {
        margin:0;
    }

    footer > #columnA
    {
        font-size:40%;
    }
    footer > #columnB
    {
        font-size:40%;
    }
    #columnC
    {
        display: none;
    }
    .leftContent .teamText
    {
        line-height: 15px;
    }
}
@media only all and (max-width: 400px){
    .leftContent
    {
        font-size: 95%
    }
    .leftContent .teamText
    {
        font-size: 7pt

    }
    #staff1
    {
        width:45%;
    }
    #staff1 h2
    {
        font-size: 75%;
    }
    #staff1 p
    {
        font-size: 75%;
        text-align: center;
    }
    #staff2
    {
        width:45%;
    }
    #staff2 h2
    {
        font-size: 75%;
    }
    #staff2 p
    {
        font-size: 75%;
        text-align: center;
    }
    #staff3
    {
        width:45%;
    }
    #staff3 h2
    {
        font-size: 75%;
    }
    #staff3 p
    {
        font-size: 75%;
        text-align: center;
    }

}
@media only all and (max-width: 300px){


    footer > #columnA
    {
        font-size:20%;

    }
    footer > #columnB
    {
        font-size:20%;
    }

}
body
{
    color: #3F2860;
    font-family: 'Helvetica';
    background-color: #F5F5F5;

}
header
{
    background-color: #223649 ;
    text-align: center;
}
nav
{
    text-align: center;
    background-color: #223649;
    padding: 5px;
    border-style: solid;
    border-color: black;
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav ul li
{
    display: inline-block;
    list-style-type: none;
    border-left:solid;
    border-right:solid;
    border-color: white;
    margin-bottom:0px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
nav > ul > li > a
{
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}
nav a:hover
{
    background-color: #D0DFED;
}
nav .selected
{
    background-color: #BDD7EE;
    color: black;
    font-weight: bold;
}
.sticky
{
    position: fixed;
    top: 0;
    width: 98.2%;
}
a
{
    color: white;
}
#titleBox
{
    background-color: #BDD7EE;
    border-style: solid;
    margin-top: 2%;
    margin-bottom: 2%;
}
h1
{
    font-family: 'Helvetica';
    text-align: center;
}
h2
{
    font-size: 18pt;
    padding-left:0.25em;
}
h3
{
    font-size: 12pt;
}
p
{
    padding-left:2em;
    padding-right:2em;
    margin: 0;
}

.widePara{
    display:block;
    margin-top: 15px;
    margin-bottom: 15px;
}

label{
    float:left;
    display:block;
    text-align:right;
    width:150px;
    padding-right:15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea
{
    margin-bottom:4px;
    width: 20%;
}
#submit
{
    display: inline-block;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;

}
#reset
{
    display: inline-block;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;

}
form
{
    padding:2px;

}
fieldset
{
    background-color: #BDD7EE;
    border-width: 2px;
    border-color: black;
}
legend
{
    font-weight: bold;
}
.cool
{
    display: block;
    background-color: #D0DFED;
    margin-bottom: 10px;

}
.dropdown
{
    display:block;
    width: 20.5%;
    border-width: 1.5px;
    margin-bottom:2px;
}
#Date
{
    display:block;
    width: 20.25%;
    border-width: 1.5px;
    margin-bottom:2px;
}
input
{
    display:block;
    margin-bottom:2px;
    width: 20%;
    border-width: 1.5px;
}
footer{
    background-color: #223649;
    border-style: solid;
    border-color: black;
    text-align: center;
}
#columnA
{
    margin-top: 20px;
    float: left;
    display: inline-block;
    color: white;
    font-size: 10pt;


}
#columnA  li
{
    margin-bottom: 35px;
}
li
{
    margin-bottom: 20px;
}
#columnB
{
    margin-top: 20px;
    display: inline-block;
    color: white;
    font-size: 10pt;
}
#columnC
{
    margin-top: 30px;
    float: right;
    display: inline-block;
    color: white;
    font-size: 10pt;
}
.images
{
    display: inline-block;
    height: 50%;
    width: 50%;
    border-style: solid;
    border-color: black;
}
#imageBox
{
    display: inline-block;
}
li
{
    list-style-type: none;
}





#staff1
{
    display: inline-block;
    background-color: #D0DFED;
    border: solid;
    border-width: 1px;
    float: left;
    margin-right: 45px;
    text-align: center;

}
#staff1 .button1
{
    text-align: center;
}
#staff2
{
    display: inline-block;
    background-color: #D0DFED;
    border: solid;
    border-width: 1px;
    float: left;
    margin-right: 45px;
    text-align: center;
}
#staff3
{
    display: inline-block;
    background-color: #D0DFED;
    border: solid;
    border-width: 1px;
    float: left;
    margin-right: 45px;
    text-align: center;
}
.title
{
    border-style: solid;
}
.portrait
{
    height: 100%;
    width: 100%;
    display: inline-block;
}
.leftContent
{
    border-style: solid;
    background-color: #BDD7EE;
    height: 365px;
    margin-top: 20px;
    padding: 10px;
}
.button1 a
{
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-color: silver;
}
.teamText
{
    line-height: 45px;
    color: black;
}

