header
{
    background-color: #223649 ;
    text-align: center;
}
nav
{
    text-align: center;
    background-color: lightgrey;
    padding: 5px;
    border-style: solid;
    border-color: black;
}
nav ul
{
    margin: 0;
    padding: 0;
}
nav ul li
{
    display: inline-block;
    list-style-type: none;
    border-left:solid;
    border-right:solid;
    border-color: black;
    margin-bottom:0px;

}
nav > ul > li > a
{
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}
nav a:hover
{
    background-color: darkgrey;
}
nav .selected
{
    background-color: #BDD7EE;
    color: black;
    font-weight: bold;
}

a
{
    color: black;
}

img {
    max-width: 100% ;
    max-height: 100%;

}

#map{
    max-width: 50% ;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#refreshFunctionButton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#refreshFunctionButton2{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#displayGraph{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



h1
{
    font-family: 'Helvetica';
    text-align: center;
}

.menuContainer{
    height: 60vh;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px 15px;
}
.menu {
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
    border-radius: 30px;
    border-style: groove;
}
.menu:hover {
    background: dimgrey;
}
.cell1{
    background: grey;
}
.cell2{
    background: grey;
}
.cell3{
    background: grey;
}
.cell4{
    background: grey;
}

.exampleContentContainer{
    height: 60vh;
    margin: 1rem;
    border-style: solid;
    text-align: center;
}

footer{ /*Sets up the footer element (which contains the copyright and team members
  contact email info on each page) to display correctly, such as in the centre with
  font size 15, stay at the bottom etc.*/
    text-align: center;
    font-size:15px;
    font-style: italic;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: static;
    background: rgb(128,128,128, 0.4);
}

body { /*sets up the main body element on each page to have a colour of white
  (which mainly just sets the text elements within the body tags to white) as
  well as setting the text font and background image*/
    color: white;
    font-family: 'Roboto', "Verdana" , sans-serif;
    /*background: linear-gradient(to right, #654ea3, #eaafc8);*/
    /*background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);*/
    background: lightslategrey;
    background-size: cover;
}

#textFill{
    margin-top: 35px;
    margin-bottom: 35px;
}

.jsTitleDiv{
    width: 28%;
    height: 20%;
    margin-bottom: 1px;
    padding: 10px;
    #margin-right: 10%;
    display: inline-block;
    flex-wrap: wrap;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background: #ffffff;
    #box-shadow: 0 0 10px;

    color: black;
}

.jsDiv{
    width: 28%;
    height: 48%;
    margin-bottom: 1px;
    padding: 10px;
    #margin-right: 10%;
    display: inline-block;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background: #ffffff;
    #box-shadow: 0 0 10px;

    color: black;
}

.jsParkTitleDiv{
     width: 15%;
     height: 15%;
     margin-bottom: 1px;
     padding: 10px;
     #margin-right: 10%;
     display: inline-block;
     flex-wrap: wrap;
     font-weight: bold;
     border-style: solid;
     border-color: black;
     border-width: thin;
     background: #ffffff;
     #box-shadow: 0 0 10px;

     color: black;
 }

.jsParkDiv{
    width: 15%;
    height: 100%;
    margin-bottom: 1px;
    padding: 10px;
    #margin-right: 10%;
    display: inline-block;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background: #ffffff;
    #box-shadow: 0 0 10px;

    color: black;
}


