body {
	height: 100vh;
	font-size: 18px;
	background: lightslategrey;
}

.myContainer
{
	width: 500px;
	padding: 2.5rem;
	margin: 50px;
	margin-left: 30%;
	font-family: Helvetica;
	font-size: 12px;
	box-shadow: 0 0 75px
	rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background: lightgrey;
}

h3
{
	font-size: 35px;
}

.input
{
	display: block;
	width: 100%;
	padding: 0.75rem;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
	outline: none;
	background: #eeeeee;
	transition: background 0.2s, border-color 0.2s;
}

.cool
{
	margin-bottom: 1rem;
}

.button
{
	width: 100%;
	padding: 0.5rem 1rem;
	font-weight: bold;
	font-size: 0.75rem;
	color: black;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 4px;
	background: gray(50);
}

.hyper
{
	justify-content: center;
	align-items: center;
}
header
{
	background-color: #223649 ;
	text-align: center;
}
nav
{
	text-align: center;
	background-color: lightgrey;
	padding: 5px;
	border-style: solid;
	border-color: black;
}
nav ul
{
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	list-style-type: none;
	border-left:solid;
	border-right:solid;
	border-color: black;
	margin-bottom:0px;

}
nav > ul > li > a
{
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}
nav a:hover
{
	background-color: darkgrey;
}
nav .selected
{
	background-color: #BDD7EE;
	color: black;
	font-weight: bold;
}

a
{
	color: black;
}

textarea{
	width: 99%;
	height: 150px;
}


#textFill{
	margin-top: 35px;
	margin-bottom: 35px;
}

.jsTitleDiv{
	width: 28%;
	height: 20%;
	margin-bottom: 1px;
	padding: 10px;
	#margin-right: 10%;
	display: inline-block;
	flex-wrap: wrap;
	font-weight: bold;
	border-style: solid;
	border-color: black;
	border-width: thin;
	background: #ffffff;
	#box-shadow: 0 0 10px;

	color: black;
}

.jsDiv{
	width: 28%;
	height: 48%;
	margin-bottom: 1px;
	padding: 10px;
	#margin-right: 10%;
	display: inline-block;
	flex-wrap: wrap;
	border-style: solid;
	border-color: black;
	border-width: thin;
	background: #ffffff;
	#box-shadow: 0 0 10px;

	color: black;
}

.jsParkTitleDiv{
	width: 15%;
	height: 15%;
	margin-bottom: 1px;
	padding: 10px;
	#margin-right: 10%;
	display: inline-block;
	flex-wrap: wrap;
	font-weight: bold;
	border-style: solid;
	border-color: black;
	border-width: thin;
	background: #ffffff;
	#box-shadow: 0 0 10px;

	color: black;
}

.jsParkDiv{
	width: 15%;
	height: 100%;
	margin-bottom: 1px;
	padding: 10px;
	#margin-right: 10%;
	display: inline-block;
	flex-wrap: wrap;
	border-style: solid;
	border-color: black;
	border-width: thin;
	background: #ffffff;
	#box-shadow: 0 0 10px;

	color: black;
}

H5{
	font-size: 0.1px;
}